{% extends 'about_cafe/_about.html' %}

{% block content %}
    <main>
        <div class="container p-2 mx-auto mt-8 md:mt-48">

            <h1 class="text-3xl dark:text-orange-300 mb-10">قهوه عربیکا چیست؟ (ویژگی و نکات مهم)</h1>

            <img src="../image/robostaimg.jpg" class="rounded-3xl mx-auto mb-8">

            <span class="inline-block text-xl md:text-2xl/8 dark:text-orange-200 mb-3">قهوه عربیکا چیست؟</span>
            <p class=" md:text-lg/8 dark:text-white mb-5">قهوه عربیکا که با نام علمی Coffea arabica شناخته می شود، ریشه
                در اتیوپی دارد، جایی که تنوع ژنتیکی قابل توجهی را نشان می دهد. مورخان معتقدند که دانه‌های قهوه در ابتدا
                از جنگل‌های قهوه در جنوب غربی اتیوپی برداشت می‌شد و به یمن منتقل می‌شد و در آنجا به عنوان یک محصول
                ارزشمند کشت می‌شد. از بین این گیاهان اولیه قهوه، پرورش دهندگان و پرورش دهندگان با دقت بسیاری از انواع
                میکس قهوه عربیکا را که به طور گسترده کشت می شوند، انتخاب کرده و تولید کرده اند که هر کدام با ویژگی های
                منحصر به فرد خود و سازگاری با شرایط خاص منطقه ای متمایز می شوند.

                بررسی‌های ژنتیکی اخیر تأیید می‌کند که دانه‌های اولیه منتقل شده از اتیوپی به یمن ارتباط نزدیکی با
                گونه‌های Bourbon و Typica دارند. نوادگان بوربون و تایپیکا متعاقباً در سراسر جهان منتشر شدند و به عنوان
                پایه و اساس اکثر کشت‌های قهوه عربیکا معاصر عمل کردند.</p>


            <span class="inline-block text-xl md:text-2xl/8 dark:text-orange-200 mb-3">تاریخچه قهوه عربیکا</span>
            <p class=" md:text-lg/8 dark:text-white mb-5">در اواخر دهه 1600، گیاهان قهوه از محدوده یمن خارج شده بودند و
                در هند شکوفا شده بودند. این دانه‌ها در ایجاد مزارع قهوه در منطقه میسور، که قبلاً به نام مالابار شناخته
                می‌شد، مفید بودند. نتایج پروفایل ژنتیکی اخیر نشان می دهد که هر دو گونه تایپیکا و بوربن مانند در این
                انتقال از یمن به هند گنجانده شده اند. دودمان تایپیکا احتمالاً زمانی که هلندی‌ها دانه‌ها را در سال‌های
                1696 و 1699 از سواحل مالابار هند به باتاویا منتقل کردند، از شاخه بوربون جدا شد که اکنون به نام جاکارتا،
                پایتخت اندونزی، واقع در جزیره پرجمعیت جاوه، شناخته می‌شود. <br> شایان ذکر است که تلاش هلندی ها برای
                انتقال مستقیم بذر از یمن به باتاویا در سال 1690 با شکست گیاهان حاصل در سال 1699 به دلیل زلزله از بین
                رفت. در اصل، جداسازی شاخه تایپیکا و انتشار متعاقب آن در سرتاسر جهان احتمالاً زمانی آغاز شد که دانه‌ها از
                هند به اندونزی رسیدند، نه مستقیماً از یمن، همانطور که روایت رایج نشان می‌دهد. <br>

                از تاریخچه قهوه عربیکا، گروه تایپیکا که در اندونزی معرفی شد، یک گیاه قهوه منفرد در سال 1706 از جاوه به
                آمستردام منتقل شد و خانه ای در باغ های گیاه شناسی پیدا کرد. <br>این گیاه منحصربه‌فرد به گونه‌ای تایپیکا
                تبدیل شد، یکی از چندین مورد در خوشه ژنتیکی تایپیکا، که در طول قرن 18 قاره آمریکا را مستعمره کرد. در سال
                1714، پس از امضای معاهده صلح اوترخت بین هلند و فرانسه، شهردار آمستردام یک گیاه قهوه به پادشاه لوئیس
                چهاردهم اهدا کرد و آن را در گلخانه باغبانی کاشته شد و به سرعت دانه‌هایی (شوالیه و داگرون) داشت.

                از هلند در تاریخچه قهوه عربیکا، گیاهان قهوه در سال 1719 در امتداد مسیرهای تجاری استعماری به گویان هلند،
                سورینام کنونی، و سپس به کاین، گویان فرانسه، در سال 1722 فرستاده شدند. <br> پس از آن، آنها به مناطق شمالی
                برزیل در سال 1727 و مناطق جنوبی برزیل بین برزیل رسیدند. 1760 و 1770.

                از پاریس، گیاهان قهوه در سال 1723 در تاریخچه قهوه عربیکا به مارتینیک در هند غربی فرستاده شد. انگلیسی ها
                گونه تیپیکا را از مارتینیک به جامائیکا در سال 1730 معرفی کردند. همچنین در سال 1735 به سانتو دومینگو
                رسید. از سانتو دومینگو، دانه ها در سال 1748 به کوبا منتقل شدند. ، کاستاریکا (1779) و السالوادور (1840)
                بذرها را از کوبا دریافت کردند.</p>

            <img src="../image/robostaimg2.jpg" class="rounded-3xl mx-auto mb-8">
            <span class="inline-block text-xl md:text-2xl/8 dark:text-orange-200 mb-3">نوع بوربن در تاریخچه قهوه عربیکا</span>
            <p class=" md:text-lg/8 dark:text-white mb-8">تاریخچه قهوه عربیکا نشان می‌دهد که فرانسوی‌ها در سال‌های 1708،
                1715 و 1718 تلاش‌های متعددی برای معرفی قهوه از یمن به جزیره بوربون، که اکنون به نام لا رئونیون شناخته
                می‌شود، انجام دادند. تحقیقات ژنتیکی اخیر این رویدادها را تأیید کرده است. فقط تعداد محدودی از گیاهان از
                معرفی دوم و سوم توانستند رشد کنند. تا اواسط قرن نوزدهم، قهوه بوربن در این جزیره محدود بود.

                در تاریخچه قهوه عربیکا مبلغان فرانسوی، معروف به Spiritans از جماعت روح القدس، نقش اساسی در تبلیغ قهوه
                بوربون در آفریقا داشتند. در سال 1841، اولین مأموریت در La Réunion تأسیس شد. از آنجا، مأموریت دیگری در
                زنگبار در سال 1859 تأسیس شد، به دنبال آن مأموریتی در باگامویو (تانزانیا ساحلی، که در آن زمان به نام
                تانگانیکا شناخته می شد) در سال 1862، سنت آگوستین (کیکویو، کنیا)، و مأموریت سوم در سال 1893 در بورا (تپه
                های تایتا، کنیا). این ماموریت ها دانه های قهوه را از La Réunion کاشتند.

                نهال‌های بورا در سال 1899 به یک مأموریت فرانسوی دیگر در سنت آستین، نزدیک نایروبی، منتقل شدند و از آنجا،
                بذرها برای کشت قهوه بین ساکنان مستعد توزیع شد. این مقدمه‌ها پایه و اساس آنچه را که می‌خواهد می‌سازد

                قهوه بوربون برای اولین بار در سال 1860 در جنوب برزیل، در نزدیکی Campinas به قاره آمریکا به تاریخچه قهوه
                عربیکا معرفی شد. متعاقباً به سمت شمال آمریکای مرکزی گسترش یافت.</p>
            <img src="../image/robostaimg3.jpg" class="rounded-3xl mx-auto mb-8">
            <span class="inline-block text-xl md:text-2xl/8 dark:text-orange-200 mb-3">گروه بوربون و تایپیکا</span>
            <p class=" md:text-lg/8 dark:text-white mb-8">در تاریخچه قهوه عربیکا تعداد محدودی از درختان قهوه که در اواخر
                قرن هفدهم یمن را ترک کردند، سنگ بنای تولید جهانی قهوه عربیکا را تشکیل می‌دهند که در مجموع به عنوان
                «گروه‌های ژنتیکی بوربون و تیپیکا» شناخته می‌شوند. این گروه ها نام خود را از گونه های معروف Bourbon و
                Typica گرفته اند که به عنوان اجداد این گروه عمل می کنند. دانه های یمن توسط هلندی ها به هند و سپس از هند
                به جزیره جاوه اندونزی منتقل شد و باعث پیدایش اصل و نسب “Typica” (همچنین به عنوان Arabigo یا Indio نامیده
                می شود). گیاهان تایپیکا در قرن هجدهم به باغ‌ها در اروپا برده شدند و سپس در سراسر قاره آمریکا در مسیرهای
                تجاری استعماری پراکنده شدند. بذرها نیز از یمن به جزیره بوربن وارد شدند و زمینه را برای تبار “بوربون”
                فراهم کردند. گیاهان اولیه بوربن پس از سال 1850 از طریق برزیل به قاره آمریکا رسیدند. <br> هر دو کارخانه
                تایپیکا و بوربن در قرن 19 از طریق مسیرهای مختلف به آفریقا منتقل شدند. برای تاریخچه ای جامع از چگونگی
                تسلط گونه های گروه ژنتیکی بوربون و تایپیکا بر تولید جهانی قهوه، به تاریخچه قهوه عربیکا از گروه بوربون و
                تایپیکا مراجعه کنید.

                این گونه ها با کیفیت استاندارد یا فنجان بالا همبستگی دارند اما در برابر بیماری های عمده قهوه آسیب پذیر
                هستند. <br> در حال حاضر، تولید قهوه در آمریکای لاتین به طور قابل توجهی به ارقام توسعه یافته از گونه‌های
                تایپیکا و بوربون وابسته است و به گلوگاه ژنتیکی قابل توجهی برای Coffea arabica کمک می‌کند. در برزیل که 40
                درصد از تولید جهانی را به خود اختصاص می دهد، 97.55 درصد از ارقام قهوه از نسل تایپیکا و بوربون هستند.

                کاتیمور/سرچیمور
                در تاریخچه قهوه عربیکا گونه های ترکیبی صفات ژنتیکی را از گونه‌های دیگر، عمدتاً Coffea canephora
                (Robusta) و گاهی
                Coffea liberica به ارث می‌برند. در دهه 1920، یک گیاه Coffea arabica و یک گیاه Coffea canephora در جزیره
                تیمور شرقی رشد می کنند و با
                عث تولید قهوه جدیدی به نام Timor Hybrid شد. این گونه عربیکا دارای مواد ژنتیکی روبوستا است که آن را در
                برابر زنگ برگ قهوه مقاو
                م می کند. با درک ارزش مقاومت به این بیماری، کارشناسان قهوه شروع به استفاده از Timor Hybrid در
                آزمایش‌هایی کردند تا گونه‌های جدیدی تولید کنند که قادر به مقاومت در برابر زنگ برگ هستند. آنها لاین های
                مختلفی از تیمور هیبرید را انتخاب کردند و متعاقباً آنها را با گونه های دیگر، به ویژه گونه های کوتوله
                عربیکای پرمحصول کاتورا و ویلا سرچی،
                آمیخته کردند. این تلاقی ها (Timor Hybrid x Caturra، و Timor Hybrid x Villa Sarchi) منجر به ایجاد دو گ
                روه اصلی از گونه های عربیکا ترکیبی شد: Catimors و Sarchimors. ذکر این نکته ضروری است که بر خلاف تصور
                رایج، <br> نه Catimors
                و نه Sarchimors خود انواع متمایز را تشکیل نمی دهند. بلکه مجموعه‌ای از گونه‌های متمایز متعدد با اصل و نسب
                مشابه هستند. سایر گونه‌های
                درون‌رفته، <br> مانند باتیان، از طریق تلاقی‌های پیچیده متعددی که ترکیبی از تیمور را شامل می‌شد، توسعه
                یافتند. RAB C15 تنها گونه عربیکا درون این کاتالوگ است که از هیبرید تیمور سرچشمه نمی گیرد – یک تلاقی
                کنترل شده توسط پرورش دهندگان هندی
                بین یک Arabusta (یک صلیب مجزا Coffea arabica x Coffea canephora) و گونه Arabica Kent ساخته شده است.
                بسیاری از گونه های ترکیبی در اینجا فهرست‌بندی شده‌اند. این گونه ها به طور سنتی با کیفیت پایین فنجان در
                مقایسه با سایرین همراه بوده اند، اما ثابت شده است که برای کشاورزان قهوه که با تهدیدات
                قریب الوقوع زنگ برگ قهوه و بیماری
                توت قهوه مواجه هستند، حیاتی هستند.</p>
        </div>
    </main>
{% endblock %}