{% extends '_layout.html' %}
{% load static %}
{% block content %}
  <main class="product_detail">
    <!-- product -->
    <section class="bg-brown-100 dark:bg-zinc-700 mt-24 md:mt-48 flex flex-col sm:flex-row items-center justify-center shadow-Normal">
      <!-- img -->
      <div>
        {% if product.image %}
          <img src="{{ object.image.url }}" alt="" />
        {% else %}
          <img src="/static/image/biroonbar/Coffee-Cup-MockUp 1 (1).svg" alt="" />
        {% endif %}
      </div>

      <!-- content -->
      <div>
        <span class="inline-block text-2xl md:text-3xl/10 w-[290px] md:w-[479px] text-zinc-700 dark:text-white">{{ object.name }}</span>
        <!-- wrapper price -->
        <div class="mt-1.5 md:mt-2.5 flex items-center gap-x-2.5">
          <div>
            <span class="text-base sm:text-2xl font-DanaDemiBold text-zinc-700 dark:text-white inline-block">{{ object.price }}</span>
            <span class="text-xs sm:text-sm text-zinc-700 dark:text-white tracking-wider inline-block">تومان</span>
          </div>

          <!-- wrapper offer -->
          <div class="relative">
            <span class="line-offer absolute top-2.5 sm:top-3 inline-block w-[100px] sm:w-[128px] border border-red-500"></span>
            <span class="text-base sm:text-2xl font-DanaRegular text-gray-400 inline-block">{{ object.price2 }}</span>
            <span class="inline-block sm:text-sm text-gray-400 tracking-wider">تومان</span>
          </div>
        </div>
      </div>
    </section>

    <!-- count & price -->
    {% comment %} <form action="{% url 'add_to_cart' %}" method="POST">
      {% csrf_token %} {% endcomment %}
      <section class="container mt-12 grid grid-cols-1 md:grid-cols-2 gap-10">
        <!-- ✔ وزن‌ها -->
        <div class="p-6 rounded-2xl bg-white dark:bg-zinc-700 flex flex-col items-center gap-6">
          <div class="w-full text-right text-lg dark:text-white">انتخاب وزن :</div>

          <div id="variants" class="flex flex-wrap gap-6 justify-center">
            {% for v in product.variants.all %}
              <div class="variant-item cursor-pointer inline-flex flex-col items-center gap-y-2 p-2 rounded-xl hover:bg-orange-200 transition" data-id="{{ v.id }}" data-price="{{ v.price }}">
                <!-- آیکون وزن -->
                {% if v.weight == 40 %}
                  <svg class="w-10 h-10 dark:hidden">
                    <use href="#cupSvg"></use>
                  </svg>
                  <svg class="w-10 h-10 hidden dark:block">
                    <use href="#cupDark"></use>
                  </svg>
                {% elif v.weight == 60 %}
                  <svg class="w-12 h-12 dark:hidden">
                    <use href="#cupSvg"></use>
                  </svg>
                  <svg class="w-12 h-12 hidden dark:block">
                    <use href="#cupDark"></use>
                  </svg>
                {% elif v.weight == 80 %}
                  <svg class="w-14 h-14 dark:hidden">
                    <use href="#cupSvg"></use>
                  </svg>
                  <svg class="w-14 h-14 hidden dark:block">
                    <use href="#cupDark"></use>
                  </svg>
                {% elif v.weight == 95 %}
                  <svg class="w-[72px] h-[72px] dark:hidden">
                    <use href="#cupSvg"></use>
                  </svg>
                  <svg class="w-[72px] h-[72px] hidden dark:block">
                    <use href="#cupDark"></use>
                  </svg>
                {% endif %}

                <span class="dark:text-white text-sm">{{ v.title }}</span>
              </div>
            {% endfor %}
          </div>
        </div>

        <!-- ✔ تعداد + قیمت + خرید -->
        <div class="p-6 rounded-2xl bg-white dark:bg-zinc-700 flex flex-col gap-8">
          <!-- تعداد -->
          <div class="flex items-center justify-between dark:text-white">
            <span>تعداد :</span>

            <div class="p-2 rounded-full flex items-center gap-x-2 shadow-Normal bg-white/50">
              <button id="plus-btn" type="button">
                <svg class="w-7 h-7 text-zinc-700">
                  <use href="#plus"></use>
                </svg>
              </button>

              <input id="counter" type="number" min="1" max="10" class="w-12 pr-3.5 bg-transparent text-xl text-center" value="1" />

              <button id="minus-btn" type="button">
                <svg class="w-7 h-7 text-zinc-700">
                  <use href="#mines"></use>
                </svg>
              </button>
            </div>
          </div>

          <!-- قیمت -->
          <div class="flex items-center gap-x-3">
            <span class="dark:text-white">قیمت :</span>
            <span id="product-price" class="text-xl text-zinc-700 dark:text-white">{{ product.price }}</span>
          </div>

          <!-- خرید -->
          <button onclick="addProductToOrder({{ product.id }})"
          class="text-white text-lg bg-orange-200 hover:bg-orange-300 px-9 py-3 rounded-xl transition">
          افزودن به سبد خرید
        </button>
        
        </div>
      </section>

      <!-- جاوااسکریپت -->
      <script src="{% static 'js/custom.js' %}"></script>
    {% comment %} </form> {% endcomment %}
  </main>
{% endblock %}
