{% load render_partial %}
{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock %}
    
   {% include 'header_references.html' %}
    
   
</head>
{% load static %}
<body class="bg-gray-100 xl:bg-gray-300 dark:bg-zinc-900 font-DanaRegular ">
    {% include 'body_svg.html' %}
    
<!--header body -->    
{% render_partial 'product.views.site_header_partial' %}
<script src="{% static 'js/header-fix.js' %}"></script>


<!-- main -->
{% block content %}{% endblock %}
    

{% render_partial 'product.views.site_footer_partial' %}

{% include 'footer_references.html' %}

</body>

</html>