{% extends '_layout.html' %}

{% block content %}
	<main>
        <!-- product -->
        <section class=" bg-brown-100  dark:bg-zinc-700 mt-24 md:mt-48 flex flex-col sm:flex-row items-center justify-center shadow-Normal">

            <!-- img -->
            <div>
                <img src="/static/image/biroonbar/Coffee-Cup-MockUp 1 (1).svg" alt="">
            </div>

            <!-- content -->
            <div>
                <span class="inline-block text-2xl md:text-3xl/10 w-[290px] md:w-[479px] text-zinc-700 dark:text-white">
                    قهوه ترک بن مانو مقدار 250 گرم خط دوم اسم طولانی
                </span>
                <!-- wrapper price -->
                <div class="mt-1.5 md:mt-2.5 flex items-center gap-x-2.5">

                    <div>
                        <span class="text-base sm:text-2xl font-DanaDemiBold text-zinc-700 dark:text-white inline-block">310,000</span>
                        <span class="text-xs sm:text-sm text-zinc-700 dark:text-white tracking-wider inline-block">تومان</span>
                    </div>

                    <!-- wrapper offer -->
                    <div class="relative">
                        <span class=" line-offer absolute top-2.5 sm:top-3 inline-block w-[100px] sm:w-[128px] border border-red-500 "></span>
                        <span class="text-base sm:text-2xl font-DanaRegular text-gray-400 inline-block">350,000</span>
                        <span class="inline-block sm:text-sm  text-gray-400 tracking-wider ">تومان</span>
                    </div>

                </div>
            </div>

        </section>

        <!-- count & price -->
        <section class="container child:bg-white dark:child:bg-zinc-700 mt-12 flex flex-col md:flex-row items-center gap-4">

            <!-- right section -->
            <div class="w-full md:basis-1/2 flex  flex-wrap items-end justify-center p-4 gap-6 rounded-2xl">

                <!-- product1 -->
                <div class="inline-flex group flex-col items-center gap-y-1 child:hover:border-2 child:border-orange-300 child:rounded-full">
                <svg class="w-12 h-12 p-1 dark:hidden">
                    <use href="#cupSvg"></use>
                </svg>
                <svg class="w-12 h-12 p-1 hidden dark:block">
                    <use href="#cupDark"></use>
                </svg>
                <span class="border-none dark:text-white text-sm md:text-xs lg:text-base">40 میلی گرم</span>
                </div>

                <!-- product2 -->
                <div class="inline-flex group flex-col items-center gap-y-1 child:hover:border-2 child:border-orange-300 child:rounded-full">
                    <svg class="w-14 h-14 p-1 dark:hidden">
                        <use href="#cupSvg"></use>
                    </svg>
                    <svg class="w-14 h-14 p-1 hidden dark:block">
                        <use href="#cupDark"></use>
                    </svg>
                    <span class="border-none dark:text-white text-sm md:text-xs lg:text-base">60 میلی گرم</span>
                </div>

                <!-- product3 -->
                <div class="inline-flex group flex-col items-center gap-y-1 child:hover:border-2 child:border-orange-300 child:rounded-full">
                        <svg class="w-16 h-16 p-1 dark:hidden">
                            <use href="#cupSvg"></use>
                        </svg>
                        <svg class="w-16 h-16 p-1 hidden dark:block">
                            <use href="#cupDark"></use>
                        </svg>
                        <span class="border-none dark:text-white text-sm md:text-xs lg:text-base">80 میلی گرم</span>
                </div>

                <!-- product4 -->
                <div class="inline-flex group flex-col items-center gap-y-1 child:hover:border-2 child:border-orange-300 child:rounded-full">
                            <svg class="w-[72px] h-[72px] p-1 dark:hidden">
                                <use href="#cupSvg"></use>
                            </svg>
                            <svg class="w-[72px] h-[72px] p-1 hidden dark:block">
                                <use href="#cupDark"></use>
                            </svg>
                            <span class="border-none dark:text-white text-sm md:text-xs lg:text-base">95 میلی گرم</span>
                </div>

            </div>

            <!-- left secttion -->
            <div class="w-full md:basis-1/2 md:h-[124px] lg:h-[132px] flex flex-col items-start p-4 md:p-2 lg:p-4 gap-y-7 rounded-2xl">

                <!-- counter -->
                <div class="flex items-center gap-x-6 dark:text-white">
                    <span>تعداد : </span>
                    <div class="p-2 rounded-full flex items-center gap-x-2 shadow-Normal bg-white/50">
                        <button type="button">
                            <svg id="#plus" class="w-7 h-7 text-zinc-700 ">
                                <use href="#plus"></use>
                            </svg>
                        </button>
                        <input class="w-12 pr-3.5 bg-transparent text-xl" type="number" id="counter" value="1" min="1" max="10">
                        <button type="button">
                            <svg id="#mines" class="w-7 h-7 text-zinc-700">
                                <use href="#mines"></use>
                            </svg>
                        </button>
                    </div>
                </div>

                <!-- price & buy -->
                <div class="w-full flex items-center justify-between dark:text-white">
                    <!-- price -->
                    <div class="flex items-center gap-x-3 ">
                        <span class="dark:text-white">قیمت : </span>
                        <span class="text-xl text-zinc-700 dark:text-white">310,000</span>
                    </div>

                    <!-- buy btn -->
                    <a href="#" class="text-white text-lg bg-orange-200 hover:bg-orange-300 px-9 py-1 rounded-xl transition-colors" type="submit">
                        پرداخت
                    </a>
                </div>

            </div>

        </section>

    </main>
{% endblock %}