{% extends '_layout.html' %}
{% load pool_extras %}
{% load static %}
{% block content %}
  <main class="pt-0 md:pt-[160px]">
    <section class="container flex flex-col gap-4">
      <h2 class="text-lg font-DanaDemiBold text-zinc-700 dark:text-white mb-2">سبد خرید شما</h2>

      <!-- نمونه محصول -->
      <div class="space-y-4">
        {% for detail in order.orderdetail_set.all %}
          <div class="flex items-center justify-between p-4 rounded-xl shadow-Normal bg-white dark:bg-zinc-700">
            <!-- بخش محصول -->
            <div class="flex items-center gap-4">
              <img src="{{ detail.product.image.url }}" class="w-16 h-16 md:w-20 md:h-20 object-cover rounded-xl" />

              <div class="flex flex-col">
                <span class="text-sm text-zinc-700 dark:text-white font-DanaDemiBold">{{ detail.product.name }}</span>
                <span id="price-{{ detail.id }}" class="text-xs text-gray-400 dark:text-gray-300 mt-1">{{ detail.get_total_price|three_digits_currency }} تومان</span>
              </div>
            </div>

            <!-- بخش تعداد -->
            <div class="flex items-center gap-3">
              <button onclick="changeQty('{{ detail.id }}', -1, {{ detail.product.price.amount }})" class="w-8 h-8 bg-gray-200 dark:bg-gray-600 rounded-lg text-lg font-bold text-zinc-700 dark:text-white flex items-center justify-center">-</button>

              <span id="qty-{{ detail.id }}" class="text-sm dark:text-white min-w-[20px] text-center">{{ detail.count }}</span>

              <button onclick="changeQty('{{ detail.id }}', 1, {{ detail.product.price.amount }})" class="w-8 h-8 bg-gray-200 dark:bg-gray-600 rounded-lg text-lg font-bold text-zinc-700 dark:text-white flex items-center justify-center">+</button>
            </div>
          </div>
        {% endfor %}
      </div>

      <!-- جمع کل -->
      <div class="flex justify-between items-center p-4 bg-white dark:bg-zinc-700 rounded-xl shadow-Normal mt-4">
        <span class="text-base font-DanaDemiBold dark:text-white">
          جمع کل:
          <span id="total-basket">{{ sum|three_digits_currency }}</span> تومان
        </span>

        <a href="#" class="px-6 py-2 rounded-xl font-DanaDemiBold text-zinc-900" style="background-color:#f5c854;">پرداخت</a>
      </div>
    </section>
  </main>

  <script src="{% static 'js/custom.js' %}"></script>
{% endblock %}
